body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

#what {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

#why {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

#history {
  background-color: lightgreen;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

#adv {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: lightgrey;
}

#btn {
  background-color: lightblue;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
}
